@font-face {
  font-family: Monaco;
  src: local("Monaco"),
       url(fonts/monaco.ttf);
  font-weight: bold;
}

html, body {
    height: 100%;
    overflow: hidden;
    -webkit-app-region: no-drag;
}

body {
    background-color: #1C0037;
    color: #C4C4C4;
    counter-reset: lines;
    font-family: 'Monaco';
    font-size: 13px;
    margin: 0;
}

input:focus {
    outline: 0;
}

span {
    cursor: default;
}

.menu {
    background-color: #5D576B;
    float: left;
    height: 100%;
    width: 50px;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.menu li {
    padding: 10px 0;
    font-size: 23px;
}

.menu li:hover {
    color: white;
    cursor: pointer;
}

.menu li.active {
    background-color: #C4C4C4;
    color: #1C0037;
}

.submenu {
    background-color: #C4C4C4;
    color: #1C0037;
    float: left;
    height: 100%;
    width: 120px;
}

.submenu span {
    display: block;
}

.submenu .header {
    font-size: 10px;
    margin-top: 20px;
    text-align: center;
}

.submenu .file {
    background-color: #1C0037;
    color: #C4C4C4;
    margin-top: 18px;
    padding: 4px 0;
}

.submenu .file span {
    padding-left: 25px;
}

.submenu .file span i {
    margin-left: 5px;
}

.main {
    float: left;
    height: 100%;
    width: 300px;
}

.open-files {
    margin-left: 5px;
    width: 170px;
    position: absolute;
}

.code {
    height: 100%;
    width: 100%;
    margin-top: 25px;
}

.code:hover {
    cursor: text;
}

.code input {
    border: 0;
    background-color: inherit;
    color: inherit;
}

.file-name {
    background-color: #453F78;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: block;
    margin-top: 3px;
    padding: 5px 5px 0;
}

.file-name i {
    float: right;
    margin-right: 5px;
    width: 15px;
}

.file-name i:hover {
    cursor: pointer;
    opacity: 1;
}

.file-name .fa-light {
    opacity: .5;
}

.code {
    padding: 5px 15px;
}

.code p {
    padding-left: 10px;
    counter-increment: lines;
}

.code p:before {
    color: #717171;
    content: counter(lines);
    font-family: "Lucida Console";
    padding-right: 20px;
}

.code img {
    position: absolute;
    opacity: 0.02;
    margin: 0 auto;
    top: 50%;
    transform: translate(15%, -60%);
}

footer {
    background-color: #453F78;
    bottom: 0;
    color: #453F78;
    height: 30px;
    padding: 0 5px;
    position: fixed;
    width: 100%;
}

footer .fa {
    background-color: #C4C4C4;
    border-radius: 5px;
    margin-left: 5px;
    margin-top: 3px;
    padding: 2px 5px;
    font-size: 20px;
}

footer .fa:hover {
    background-color: white;
    color: #1C0037;
    cursor: pointer;
}

footer .right {
    float: right;
    margin-right: 10px;
    text-align: right;
}

footer a {
    border-radius: 5px;
    display: inline-block;
    color: #C4C4C4;
    padding: 3px;
    text-decoration: none;
    vertical-align: bottom;
}

footer a:hover {
    background-color: #C4C4C4;
    color: #1C0037;
}

#modal {
    display: none;
    color: #1C0037;
    font-family: arial;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 1;
}

#modal .content {
    background: linear-gradient(135deg, #eaeaea 6%,#f7f7f7 33%,#f2f2f2 66%,#ffffff 92%);
    border-radius: 2px;
    box-shadow: 1px 1px 1px #C4C4C4;
    margin: 0 auto;
    padding: 20px 0;
    position: relative;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    width: 500px;
}

#modal .fa-dollar {
    background-color: #453f78;
    border-radius: 50%;
    color: #edf995;
    font-size: 180px;
    margin-left: -318px;
    margin-top: -75px;
    padding: 20px 60px;
    position: absolute;
}

#modal .fa-times {
    background-color: #ec4444;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    font-size: 30px;
    margin-left: 212px;
    margin-top: -36px;
    padding: 10px 15px;
    position: absolute;
}

#modal .messages {
    min-height: 150px;
    padding-left: 180px;
    padding-right: 15px;
}

#modal .messages p {
    font-size: 16px;
}

#modal .messages > p:first-child {
    font-size: 20px;
}

#modal .messages em {
    font-weight: bold;
    font-size: 17px;
}

#modal button {
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    color: #1c0037;
    font-size: 18px;
    margin-bottom: 10px;
    margin-left: 15px;
    padding: 15px 25px;
    text-transform: uppercase;
}

#modal #yes {
    background-color: rgba(137, 210, 119, .5);
}

#modal #yes:hover {
    background-color: rgba(137, 210, 119, 1);
}

#modal #no {
    background-color: rgba(181, 112, 131, .5);
}

#modal #no:hover {
    background-color: rgba(181, 112, 131, 1);
}

#modal .content .big {
    font-size: 30px;
}

p {
    margin: 10px 0;
}

.underline {
    text-decoration: underline;
}